.dr-card{
	box-shadow:0 12px 24px 0 rgba(113,202,255,0.03), 0 12px 24px 0 rgba(0,0,0,0.05);
	border:none;
	.info-wrapper{
		margin-top:-50px;
	}
	.header-img{
		img{
			background-color: $gray-color;
		}
		
	}
	h6{
		display: inline;
		vertical-align: middle;
		margin:0;
	}
	.card-footer{
		padding:10px;
	}
	a{
		color:$text-color;
		&:hover{
			color:$link-color;
		}
	}
}