ul{
	li{
		font-size: 1rem;
	}
}

dt, dd{
	line-height:1.5rem;
}

.dl-horizontal{
	@include fontSize(16px);
	margin-bottom:0;
	dt{
		margin-bottom:$baseline/2;
		text-align:left;	
		font-family: $medium-font-name;
		color: $light-text-color;
	}
}

.info-list{
	ul{
		li{
			margin-bottom:8px;
		}
	}
}

ul.avatars-list{
	li{
		margin-right:-20px;
		text-align:center;

		a{
			color:$text-color;
			.more{
				width:40px;
				height:40px;
				background:$background-color;
				border-radius:100px;
				i{
					margin-top: 12px;
				}
			}
		}

	}
}