ul{
	li{
		font-size: 1rem;
	}
}

dt, dd{
	line-height:1.5rem;
}

.dl-horizontal{
	@include fontSize(16px);
	margin-bottom:0;
	dt{
		font-weight: normal;
		margin-bottom:$baseline/2;
		text-align:left;	
		font-family: $medium-font-name;
		color: $light-text-color;
	}
}

.review-metric{
	margin-bottom:5px;
	  // @include breakpoint(sm) {
	  //   margin-bottom:$baseline/2;
	  // }
	dd{
		margin-left:0;
	}
	dt{
		font-family: $regular-font-name;
		color:$light-text-color;
		font-weight: normal;
		width:130px;
		margin-bottom:0;
	}
}

.info-list{
	ul{
		li{
			margin-bottom:8px;
		}
	}
}

ul.avatars-list{
	margin:0;
	padding-right:20px;
	li{
		margin-right:-20px;
		text-align:center;

		a{
			color:$text-color;
			.more{
				width:40px;
				height:40px;
				background:$background-color;
				border-radius:100px;
				i{
					margin-top: 12px;
				}
			&:hover{
				background-color:shade($background-color,5%);
			}
			}
		}

	}
	&.avatars-list-xs{

		a{
			.more{
				width:25px;
				height:25px;
				position: relative;
				top:4px;
				i{
					position:relative;
					font-size: .7em;
					top:-3px;
					left:1px;
				}
			}
		}

	}
}