$provider-nav-padding: 24px;



.provider-nav{
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	text-align: center; 
	position: absolute;
	bottom:0;
	width:100%;
	z-index: 999;
	height:75px;
	&.affix {
		position:fixed;
		top: 0px;
		bottom:auto;
	}
	img{
	}
	.btn{
		padding:12px 24px;
		@include fontSize(18px);
	}
	.nav-element-block{
		width:100%;
		a{
			margin:13px;
			display: inline-block;
		}
	}
	.nav{
		display: inline-block;
		li{
			list-style: none;
			display: inline-block;
			@include fontSize(16px);
			@include breakpoint(md) {
				@include fontSize(14px);
			}
			&.active{
				a{
					border-bottom:2px solid $link-color;
					color:$text-color;
				}
			}
			a{
				color:$light-text-color;
				padding:$provider-nav-padding 8px;
				@include breakpoint(md) {
					padding:$provider-nav-padding 2px;
				}
				&:hover{
					background:none;
					color:shade($light-text-color,20%);
				}
			}
		}
	}


  @include breakpoint(sm) {
    
  }


}