.panel-default > .panel-heading + .panel-collapse > .panel-body{
	border-top-color:white;
}

.panel-group .panel + .panel{
	margin-top:-1px;
}

.panel-group{
	.panel{
		border-radius:0px;
	}
}
.panel{
	box-shadow:none;
	border:1px solid $border-color;
	border-radius:0px;
	&.panel-default{
		background:white;
	}
	.panel-heading{
		border-radius:0px;
		background:white;
		color:$text-color;
	}
}

.panel-chip{
	border-radius:100px;
	padding:10px;
	display:flex;
	margin-bottom:8px;
	width:100%;

	.chip-info{
		display:inline-flex;
		vertical-align: middle;
		align-items:center;
		&:nth-child(1){
			width:35%;
			@include breakpoint(md) {
				width:48%!important;
			}
		}
		&:nth-child(2){
			width:40%;
			@include breakpoint(md) {
				width:49%!important;
				text-align:right;
				margin-right:1%;
			}
			
		}
		&:nth-child(3){
			width:25%;
			@include breakpoint(md) {
				width:100%!important;
				display:none;
			}
		}
		ul{
			margin-bottom:0;
		}
	}
	@include breakpoint(md) {
		display: inline-block;
	}
}