%nav.navbar.navbar-default.primary-nav
	.container-fluid
		.pull-left
			%a.navbar-brand{:href => "#"}
				%img{:alt => "Brand", :src => "/images/logo@2x.png", :width=>"144"}
		.pull-right
			%p.navbar-text
				%a.navbar-link{:href => "#"} 
					Sign in / Sign up

