.fixed-layer-container
	.main-nav
		.main-nav-panel
			%a.main-nav-logo{:href => "/provider/profileplus"}
				%img.margin-bottom{:alt => "Brand", :src => "/Content/images/logo@2x.png", :width=>"144"}
			.main-nav-contents
				%ul.main-nav-items
					%li
						.main-nav-item-wrapper
							%a{:href=>"#"}
								Dashboard
					%li.active
						.main-nav-item-wrapper
							%a{:href=>"/provider/profileplus/"}
								ProfilePlus
					%li
						.main-nav-item-wrapper
							%a{:href=>"#"}
								Essentials
