.provider-nav-mobile#provider-nav-mobile.visible-sm.visible-xs.navbar-fixed-top
	.container
		.col-xs-12
			.menu-list-col
				%ul.list-inline
					%li.active
						%a.scrollsomething-mobile{:href => "#profile-hero"} 
							Overview
					%li
						%a.scrollsomething-mobile{:href=>"#services"}
							Services
					%li
						%a.scrollsomething-mobile{:href=>"#network"}
							Network
					%li
						%a.scrollsomething-mobile{:href=>"#posts"}
							Posts
					%li
						%a.scrollsomething-mobile{:href=>"#reviews"}
							Reviews

			.book-btn-col
				%a.btn.btn-info.nav-action{:href => "javaScript:void(0);","data-toggle"=>"modal","data-target"=>"#bookStepOneModal"}
					Request appointment