.book-panel-wrapper
	.half-margin-bottom
		.book-panel
			=partial"providers/book-panel-inner.haml"
		.book-panel
			=partial"providers/book-panel-inner.haml"
		.book-panel.actions-panel
			%a.btn.btn-block.btn-info{:href=>"#"}
				Request Appointment
			%a.btn.btn-block.btn-default{:href=>"#"}
				%i.fa.fa-phone
				444.444.4444
	.margin-bottom
		.book-panel.text-center.quarter-padding-top.quarter-padding-bottom
			%h6.light-text-color.half-margin-bottom
				Share
			%ul.share-links
				%li
					%a{:href=>"#"}
						%i.fa.fa-facebook
				%li
					%a{:href=>"#"}
						%i.fa.fa-twitter
				%li
					%a{:href=>"#"}
						%i.fa.fa-envelope
				%li
					%a{:href=>"#"}
						%i.fa.fa-ellipsis-h

