.inline-block.full-width
	.pull-left
		%a.btn-location{:href=>"#"}
			%h5.no-margin-bottom
				1375 Blossom Hill Road
				%br
				San Jose, CA, 95118
		%h5.no-margin-bottom
			%a.btn-hours{:href=>"#"}
				%span.bold-font-name
					Open now 
				until 9:00pm
				%i.fa.fa-caret-down
	.pull-right
		%a.btn-directions{:href=>"#"}
			.text-center
				%i.fa.fa-compass
				%h6
					Directions