.inline-block.full-width
	.pull-left
		%label.no-marign-bottom.quarter-margin-top
			.pull-left.half-margin-right
				%input{:type=>"radio", :name=>"locationRadio", :id=>"locationsRadio1", :checked=>"checked"}
			.pull-left.btn-location{"data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Select location"}
				%h5.no-margin
					1375 Blossom Hill Road
					%br
					San Jose, CA, 95118
		%h5.margin-left.no-margin-top.no-margin-bottom
			%a.btn-hours{:href=>"#"}
				%span.bold-font-name
					Open 
				until 12:00pm
				%i.fa.fa-caret-down
	.pull-right
		%a.btn-directions{:href=>"#"}
			.text-center
				%i.fa.fa-compass
				%h6
					Directions