%section#services.bg-off-white
	.container
		.col-sm-1
		.col-sm-10
			%h2.text-center.bold-font-name.headline-bordered.centered
				Connected Doctors
			.spacer-default
				=partial"providers/connected-slider.haml"
		.col-sm-1