%ul.nurse-slider
	-4.times do
		%li{"data-src" => "/images/tmp/nurse1.png", "data-thumb" => "/images/tmp/nurse1.png"}
			.slide-wrapper
				.row
					.col-sm-3
						%img.full-width.nurse-img{:src => "/images/tmp/nurse1.png"}
					.col-sm-9
						%p.bold-font-name.no-margin-bottom
							Lydia J. Gardner, Periodontist, DMD, MS
						%h5
							%span
								Areas of Expertise:
							%span.light-text-color
								Periodontics, Dental Implants, LANAP laser gum surgery
						%p
							=lorem.paragraphs(1)
						%ul.list-inline.list-unstyled.social-list
							%li
								%a{:href=>"#"}
									%i.fa.fa-twitter
							%li
								%a{:href=>"#"}
									%i.fa.fa-facebook
							%li
								%a{:href=>"#"}
									%i.fa.fa-envelope
		%li{"data-src" => "/images/tmp/nurse2.png", "data-thumb" => "/images/tmp/nurse2.png"}
			.slide-wrapper
				.row
					.col-sm-3
						%img.full-width.nurse-img{:src => "/images/tmp/nurse2.png"}
					.col-sm-9
						%p.bold-font-name.no-margin-bottom
							Lydia J. Gardner, Periodontist, DMD, MS
						%h5
							%span
								Areas of Expertise:
							%span.light-text-color
								Periodontics, Dental Implants, LANAP laser gum surgery
						%p
							=lorem.words(40)
						%ul.list-inline.list-unstyled.social-list
							%li
								%a{:href=>"#"}
									%i.fa.fa-twitter
							%li
								%a{:href=>"#"}
									%i.fa.fa-facebook
							%li
								%a{:href=>"#"}
									%i.fa.fa-envelope
		%li{"data-src" => "/images/tmp/nurse3.png", "data-thumb" => "/images/tmp/nurse3.png"}
			.slide-wrapper
				.row
					.col-sm-3
						%img.full-width.nurse-img{:src => "/images/tmp/nurse3.png"}
					.col-sm-9
						%p.bold-font-name.no-margin-bottom
							Lydia J. Gardner, Periodontist, DMD, MS
						%h5
							%span
								Areas of Expertise:
							%span.light-text-color
								Periodontics, Dental Implants, LANAP laser gum surgery
						%p
							=lorem.words(40)
						%ul.list-inline.list-unstyled.social-list
							%li
								%a{:href=>"#"}
									%i.fa.fa-twitter
							%li
								%a{:href=>"#"}
									%i.fa.fa-facebook
							%li
								%a{:href=>"#"}
									%i.fa.fa-envelope