%section.overview-section#overview
	.container
		.col-md-4.col-md-push-8
			=partial"providers/book-panel.haml"
		.col-md-8.col-md-pull-4
			.padding-right.no-padding-right-md
				.info-section
					%img.img-responsive{:src=>"/Content/images/tmp/map.png"}
				.info-section.border-bottom.padding-bottom.margin-bottom
					%h2.bold-font-name.headline-bordered
						About
					%h4.quarter-margin-bottom
						Welcome! At Dental Specialists of New York P.C, our mission is to improve the quality of our patient's lives through outstanding comprehensive dentistry combined with the latest advances in dental technology in a comfortable, personalized and friendly
					%p.no-margin-bottom
						%a{:href=>"#"}
							Read More
				.info-section.margin-bottom
					%dl.dl-horizontal.info-list
						%dt
							Education
						%dd.border-bottom.padding-bottom
							%ul.list-unstyled
								%li
									Medical School - Ross University School of Medicine, Doctor of Medicine
								%li
									University of Southern California, Residency in Family Medicine
								%li
									University of California, Davis, Mercy Medical Center, Merced, Residency in Family Medicine
				.info-section.margin-bottom
					%dl.dl-horizontal.info-list
						%dt
							Languages
						%dd.border-bottom.padding-bottom
							%ul.list-unstyled
								%li
									Spanish
								%li
									French
								%li
									English
				.info-section.padding-bottom.margin-bottom
					%dl.dl-horizontal.info-list
						%dt
							Insurances
						%dd
							%ul.list-unstyled
								%li
									Delta Dental
								%li
									Delta Dental
								%li
									Delta Dental
								%li
									%a{:href => "javaScript:void(0);","data-toggle"=>"modal","data-target"=>"#infoModal"}
										View all