.provider-nav#provider-nav
	.container-fluid.no-padding-sm
		.col-sm-12
			.pull-left
				.nav-element-block.nav-logo-block.hidden-xs
					%a.scrollsomething-nooffset.nav-logo.animated.provider-nav-animated-item{:href=>"#profile-hero"}
						%img.img-circle.avatar-default{:src=>"/images/tmp/avatar-1.png", :width=>"46"}
			.provider-nav-options-wrapper
				%ul.nav.list-inline.provider-nav-options
					%li.active
						%a.scrollsomething{:href=>"#overview"}
							Overview
					%li
						%a.scrollsomething{:href=>"#services"}
							Services
					%li
						%a.scrollsomething{:href=>"#network"}
							Network
					%li
						%a.scrollsomething{:href=>"#posts"}
							Posts
					%li
						%a.scrollsomething{:href=>"#reviews"}
							Reviews
			.pull-right
				.nav-element-block.nav-action-block
					%a.btn.btn-info.nav-action.animated.provider-nav-animated-item{:href => "javaScript:void(0);","data-toggle"=>"modal","data-target"=>"#bookStepOneModal"}
						Request appointment