.provider-nav
	.container
		.col-sm-12
			.pull-left
				.nav-element-block
					%a{:href=>"#"}
						%img.img-circle.avatar-default{:src=>"/images/tmp/avatar-1.png", :width=>"46"}
			%ul.nav.list-inline.hidden-xs.hidden-sm
				%li.active
					%a{:href=>"#"}
						Overview
				%li
					%a{:href=>"#"}
						Services
				%li
					%a{:href=>"#"}
						Network
				%li
					%a{:href=>"#"}
						Link
				%li
					%a{:href=>"#"}
						Posts
				%li
					%a{:href=>"#"}
						Reviews
			.pull-right
				.nav-element-block
					%a.btn.btn-primary{:href=>"#"}
						Book now