.provider-nav#provider-nav.hidden-sm.hidden-xs
	.container
		.col-sm-12
			.pull-left
				.nav-element-block
					%a.nav-logo{:href=>"#"}
						%img.img-circle.avatar-default{:src=>"/images/tmp/avatar-1.png", :width=>"46"}
			%ul.nav.list-inline.hidden-xs.hidden-sm
				%li.active
					%a.scrollsomething{:href=>"#overview"}
						Overview
				%li
					%a.scrollsomething{:href=>"#services"}
						Services
				%li
					%a.scrollsomething{:href=>"#network"}
						Network
				%li
					%a.scrollsomething{:href=>"#posts"}
						Posts
				%li
					%a.scrollsomething{:href=>"#reviews"}
						Reviews
			.pull-right
				.nav-element-block
					%a.btn.btn-primary.nav-action{:href=>"#"}
						Book now