%section#services.bg-off-white
	.container
		.row
			.col-md-1
			.col-md-10
				%h2.text-center.bold-font-name.headline-bordered.centered
					Services
				.spacer-default
					.row.row-centered
						-3.times do
							.col-sm-4.col-xs-6.col-centered	
								%a{:href => "javaScript:void(0);","data-toggle"=>"modal","data-target"=>"#serviceModal"}
									.card-service
										%img.img-responsive{:src=>"/images/tmp/service-bg@2x.png"}
										.card-footer.text-center
											%h4.bold-font-name
												Scaling & Root Planning 
											%span.hidden-sm.hidden-xs
												%h5.bold-font-name
													More info
													%i.fa.fa-chevron-circle-right
			.col-md-1
		.row
			.col-sm-1
			.col-sm-10
				%h4.text-center.medium-font-name
					Additional services
				.spacer-default
					.row
						-5.times do
							.col-lg-4.col-md-6.col-xs-12	
								.row.margin-bottom
									.col-xs-2
										.service-icon
											%img{:src=>"/images/icon-tooth.png"}
									.col-xs-10
										%h6.light-text-color.half-margin-bottom.medium-font-name
											Comfort & TECHNOLOGY
										%ul.list-unstyled.medium-font-name
											- 10.times do
												%li
													%a{:href => "javaScript:void(0);","data-toggle"=>"modal","data-target"=>"#serviceModal"}
														=lorem.words(2)
			.col-sm-1
		.row
			.col-lg-12	
				%h2.text-center.bold-font-name.headline-bordered.centered
					Endorsements
				.spacer-default
					.row
						.col-lg-1
						.col-lg-10
							-4.times do
								.panel.panel-chip
									.chip-info
										%i.fa.fa-check.text-success.fa-border.check-icon.half-margin-right
										%h5.no-margin.bold-font-name
											Scaling & Root Planning
									.chip-info
										%h5.no-margin.bold-font-name.light-text-color.full-width
											Endorsed by
											%a{:href => "javaScript:void(0);","data-toggle"=>"modal","data-target"=>"#usersModal"}
												=lorem.name+","
												=lorem.name
												and 42 more
									.chip-info
										%ul.list-inline.text-right.full-width.avatars-list
											-2.times do
												%li
													%a{:href=>"#"}
														%img.avatar-sm.avatar-default{:src=>"/images/tmp/avatar-1.png"}
											%li
												%a{:href => "javaScript:void(0);","data-toggle"=>"modal","data-target"=>"#usersModal"}
													.more
														%i.fa.fa-ellipsis-h
						.col-lg-1





