%section.bg-white#network
	.container
		.col-lg-12	
			%h2.text-center.bold-font-name.headline-bordered.centered
				Team & Network
			.spacer-default
				.row
					.col-lg-1
					.col-lg-10
						=partial"providers/team-collapse.haml"
					.col-lg-1

