#team-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %p.panel-title.bold-font-name
        %a.display-block{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#team-accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
          Dentists
    #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        =partial"providers/nurse-slider.haml"
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %p.panel-title.bold-font-name
        %a.display-block{"aria-controls" => "collapseTwo", "data-parent" => "#team-accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
          Dentists
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        =partial"providers/nurse-slider.haml"
  .panel.panel-default
    #headingThree.panel-heading{:role => "tab"}
      %p.panel-title.bold-font-name
        %a.display-block{"aria-controls" => "collapseThree", "data-parent" => "#team-accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
          Dentists
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        =partial"providers/nurse-slider.haml"


