%section.invert-section{:style=>"background:linear-gradient(rgba(9, 134, 181, 0.87),rgba(9, 134, 181, 0.87)), url('/images/tmp/practice-bg.png');"}
	.container
		.col-sm-2
		.col-sm-8
			.text-center
				%img.img-circle.avatar-default.avatar-xl{:src=>"/images/tmp/avatar-1.png"}
				%h3.bold-font-name
					“We cant wait to bring your smile to life with our wide range of services. We promise you comfort and quality”
				%p.medium-font-name.margin-bottom
					\- John Superlongname, MD
				%a.btn.btn-default.btn-lg.fancybox{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
					View gallery
		.col-sm-2

=partial"providers/provider-nav.haml"
=partial"providers/overview.haml"
=partial"providers/services.haml"








