%section.invert-section#profile-hero{:style=>"background:linear-gradient(rgba(9, 134, 181, 0.87),rgba(9, 134, 181, 0.87)), url('/images/tmp/practice-bg.png');"}
	.container
		.col-sm-2
		.col-sm-8
			.text-center
				
				%img.img-circle.avatar-default.avatar-xl{:src=>"/images/tmp/avatar-1.png"}
				%h3.bold-font-name
					“We cant wait to bring your smile to life with our wide range of services. We promise you comfort and quality”
				%p.medium-font-name.margin-bottom
					\- John Superlongname, MD
				%a.btn.btn-default.btn-lg.btn-view-gallery#profile-gallery{:href=>"javascript:void(0)"}
					View gallery
		.col-sm-2
	=partial"providers/provider-nav.haml"

=partial"providers/overview.haml"
#panel-stop
	=partial"providers/services.haml"
	=partial"providers/team.haml"
	=partial"providers/connected-drs.haml"
	=partial"providers/posts.haml"
	=partial"providers/reviews.haml"

//init gallery
:javascript
	$('#profile-gallery').on('click', function() {
		$(this).lightGallery({
			dynamic: true,
			download: false,
			dynamicEl: [{
				'src': '../slider-img/prac-1.jpg',
				'thumb': '../slider-img/prac-1.jpg',
				'subHtml': '<p>Title of the image</p>'
				}, {
				'src': '../slider-img/prac-2.jpg',
				'thumb': '../slider-img/prac-2.jpg',
				'subHtml': '<p>Title of the image</p>'
				}, {
				'src': '../slider-img/prac-3.jpg',
				'thumb': '../slider-img/prac-3.jpg',
				'subHtml': "<p>Title of the image</p>"
			}]
		})
	});



















