#overview{
	position:relative;
}

.overview-section{
	@include breakpoint(sm) {
		padding:$baseline 0;
	}
}

#profile-hero{
	position:relative;
	padding-bottom:$baseline*5;
	@include breakpoint(sm) {
		padding-bottom:$baseline*4;
	}
	.btn-view-gallery{
		@include breakpoint(sm) {
			padding:10px 18px;
		}
	}
}

.book-panel-outter{
	// margin-bottom:-85px;
}

#book-panel{
	// padding-top:85px;
	// &.affix {
	//   top: 0px;
	//   width:350px;
	//   height:800px;
	// 	@include breakpoint(lg) {
	// 		width:283px;
	// 		min-height:1000px;
	// 	}
	// }

	// &.affix-bottom {
	//   position: relative;
	//   bottom:0;
	//   width:350px;
	//   height:800px;
	// 	@include breakpoint(lg) {
	// 		width:283px;
	// 		min-height:1000px;
	// 	}
	// }
	// @include breakpoint(md) {
	// 	&.affix-bottom, &.affix {
	// 		position:relative!important;
	// 		width:100%!important;
	// 		height:auto!important;
	// 		min-height: auto!important;
	// 	}
	// }
	// @include breakpoint(sm) {
	// 	&.affix-bottom, &.affix {
	// 		position:relative!important;
	// 		width:100%!important;
	// 		height:auto!important;
	// 		min-height: auto!important;
	// 	}
	// }

}



//provider show

.book-panel-header{
	padding:12px 16px;
	background:$text-color;
	color:white;
	@extend %white_text;
	p{
		margin:0;
		font-family: $medium-font-name;
		&.muted{
			font-family: $regular-font-name;
			color:rgba(255,255,255,.6)!important;
			@include fontSize(12px);
			position:relative;
			top:2px;
		}
	}
}

.book-panel{
	padding:16px 16px;
	border:1px solid $border-color;
	width:100%;
	border-top:none;
	background:white;
	&:first-of-type{
		border-top:1px solid $border-color;
	}
	a.btn-hours{
		color: $light-text-color;
	}
	.btn-location{
		color: $text-color;
		cursor:pointer;
	}
	a.btn-directions{
		position:relative;
		top:18px;
		i{
			@include fontSize(18px);
		}
		h6{
			margin-top:0;
			@include fontSize(10px);
			font-family: $bold-font-name;
			text-transform:none;
			letter-spacing: 0;
		}
	}
	ul.share-links{
		list-style: none; 
		li{
			display: inline;
			font-size: 1.1rem;
			a{
				color:$text-color;
				padding:0 10px;
			}
		}
	}
	&.actions-panel{
		text-align:center;
		.btn{
			margin:10px auto;
			max-width:400px;
		}
	}
	&.selected{
		background-color:tint($primary-color,97%);
		box-shadow:inset 2px 0 $link-color;
	}
}

//overview

.locations-map{
	width:100%;
	height:300px;
	background-color:#f2f2f2;
	margin-bottom:$baseline;
}


//services

.spacer-default{
	margin:$baseline*2 0;
}


.service-icon{
	width:45px;
	height:45px;
	text-align:center;
	img{
		width:30px;
		margin:0 auto;
		position:relative;
		top:8px;
	}
	border-radius:100px;
	border:1px solid $gray-color;
	display:block;
}


.card-service{
	position:relative;
	box-shadow: 0 12px 24px 0 rgba(113,202,255,0.06), 0 12px 24px 0 rgba(0,0,0,0.11);
	width:100%;
	background:red;
	margin:$baseline/2 0;
	top:0px;
	@include transition(top 0.2s);
	&:hover{
		box-shadow: 0 12px 24px 0 rgba(113,202,255,0.06), 0 17px 29px 0 rgba(0,0,0,0.11);
    	top: -4px;
    	.card-footer{
    		// box-shadow: inset 3px 3px 0 rgba(0,0,0,.2), inset -3px -3px 0 rgba(0,0,0,.2);
    	}
	}
	img{
		width:100%;
	}
	h4{
		margin:0;
	}
	h5{
		margin:0;
	}
	.card-footer{
		width:100%;
		position:absolute;
		bottom:0;
		background:rgba(9, 134, 181, 0.92);
		color:white;
		padding:10px 5px;
		min-height: 50px;
		@include transition-duration(.2s);
		a{
			color:white;
		}
		h4{
			margin-bottom:8px;
			@include fontSize(16px);
		}
	  @include breakpoint(md) {
	    position:relative;
		h4{
			@include fontSize(13px);
			line-height: 1.1rem;
			vertical-align: middle;
			display: inline-flex;
			margin-bottom:0px;
		}
	  }
	}
}

//reviews

.review{
	padding:$baseline/2 0;
	margin:$baseline/2 0;
	padding-bottom:$baseline;
	border-bottom:$border-color 1px solid;
	.review-date{
		display: flex;
		.review-date-text{
			display: inline-flex;
			margin-bottom:$baseline/4;
		}
	}
	.review-name{
		display: flex;
		margin-bottom: $baseline/2;
		.review-name-text,.review-name-img{
			display: inline-flex;
			vertical-align: middle;
			margin:0;
			align-items:center;
		}
		.review-name-text{
			@include breakpoint(sm) {
				 @include fontSize(18px);
			}
		}
		.review-name-img{
			margin-right:4px;
		}
	}
	.featured-label{
		@include breakpoint(sm) {
		  float: right;
		  position:relative;
		  top:-45px;
		}
	}
}

.rating{
	.star{
		color:$light-gray-color;
		&.full{
			i{
				color: $primary-color
			}
		}
	}
}


///booking step 1

.date-slider{
	margin-top:-64px;
	.btn{
		position:relative;
		@include breakpoint(sm) {
			&:nth-child(1){
				right:18px;
			}
			&:nth-child(2){
				left:18px;
			}
		}
	}
}
.time-block{
	.time-btn-group{
		.btn{
			width:31%;
			margin:1%;
			border-radius:0;
			&.btn-default.active, &.btn-default:active, &.open>.dropdown-toggle.btn-default{
				background-color:shade($primary-color,30%);
				color:white;
				box-shadow:none;
				outline:none;
				border-color:shade($primary-color,30%);
			}
			@include breakpoint(sm) {
				// width:48%;
				@include fontSize(13px);
			}
		}
	}
}


//posts

//link panel
.link-panel{
	position:relative;
	.link-image{
		width:30%;
		background:url("http://placehold.it/300x300") no-repeat center center;
		display: block;
		float: left;
		    position: absolute;
    bottom: 0;
    top: 0;
		
	}
	.link-text{
		float: left;
		margin-left:30%;
		width:68%
	}
}

//share toolbar

ul.share-toolbar{
	li{
		a{
			color:$text-color;
		}
		&.like{
			a{
				&.liked{
					color:red;
				}
			}
		}
	}
}