%section.padding-top
	.container
		.row
			.col-lg-3
			.col-lg-6
				.panel.panel-sm
					.panel-body
						%h3.bold-font-name.text-center
							Let's request your appointment!
						.padded.no-padding-sm.half-padding-top
							.half-margin-bottom
								=partial"shared/user-line-item"
							.row
								.col-xs-6
									%h5.no-margin-top.quarter-margin-bottom.medium-font-name
										Location
									%h5.no-margin-top
										18 East 48th Street
										%br
										Suite 1502
										%br
										New York, NY 1001
								.col-xs-6
									%h5.no-margin-top.quarter-margin-bottom.medium-font-name
										Reason for visit
									%h5.no-margin-top
										General dentistry
									%h5.no-margin-top.quarter-margin-bottom.medium-font-name
										Appointment
									%h5.no-margin-top
										Thurs, Apr 27 - 10:00am
							%hr.no-margin-top
							.row
								.col-lg-12
									.margin-bottom
										%p.text-center.quarter-margin-bottom.medium-font-name
											New to PatientPlus?
										%h5.text-center.no-margin-top
											Sign up for a PatientPlus account to book an appointment.
										%button.btn-lg.btn-block.btn-primary.btn{:type=>"button"}
											Join now
									%p.text-center.medium-font-name
										Sign in to your Patient Plus account
									.form-group
										%input.form-control.input-lg{:placeholder=>"Email or username"}
									.form-group
										%input.form-control.input-lg{:placeholder=>"Password"}
									.form-group
										%a.btn-lg.btn-block.btn-default.btn{:href=>"/booking/review"}
											Sign In
									.form-group.text-center
										%a{:href=>"#"}
											Forgot password?

									

			.col-lg-3
