.panel.link-panel
	.link-image

	.link-text
		.half-padding
			%h5.bold-font-name
				%a.text-color{:href=>"#"}
					Vasovagal syncope - most common emergency situation in the dental office
			%h5
				You see it in movies or while viewing your favorite sitcom; a scene at the doctor's…
			%h5.light-text-color.no-margin-bottom
				News-Medical.net
	.clearfix
