.poat-wrapper
	.panel
		.padded
			=partial"providers/posts/post-header"
			=partial"providers/posts/post-say-something"
			%img.img-responsive.full-width.margin-bottom{:src=>"/Content/images/tmp/servicepop.png"}
			=partial"providers/posts/post-actionbar"
