.form-group.field-reason
	%select.form-control.input-lg
		%option
			General dentistry
.form-group.field-zip
	%input.form-control.input-lg{:placeholder=>"Zip", :value=>"80634"}
.form-group.field-carrier
	%select.form-control.input-lg
		%option
			Aetna
		%option
			Insurance carrier
		%option
			Insurance carrier

.form-group.field-plan
	%select.form-control.input-lg
		%option
			NYC community plan
.form-group.btn-search
	%button.btn.btn-primary.btn-block
		.hidden-xs
			%i.fa.fa-search
		.visible-xs
			Search