.media.user-list-item
	.media-left
		%a{:href=>"#"}
			%img.avatar-md.avatar-default.media-object{:src=>"/Content/images/tmp/avatar-1.png"}
	.media-body
		%p.media-heading.medium-font-name.no-margin
			%a.text-color{:href=>"#"}
				=lorem.name
		%h5.no-margin
			Subtext