a{
	color:$link-color;
	&:hover,&:active,&:focus{
		text-decoration: none;
		outline:none;
	}

}

.btn{
	letter-spacing:-.3px;
	font-size:1rem;
	border-radius:4px;
	font-family:$medium-font-name;
	@include transition-duration(0);
	padding:12px 16px;
	&:active{
		box-shadow:none;
	}
	&.btn-primary{
		background-color:$link-color;
		border:none;
		&:hover{
			background-color:tint($link-color,10%);
		}
	}
	&.btn-default{
		border-color:shade($border-color,30%);
		&:hover{
			border-color:$link-color;
			background-color:white;
			color:$link-hover-color;
		}
	}
	&.btn-wire{
		border-color:tint($link-color,30%);
		color:$primary-color;
		&:hover{
			border-color:$link-color;
		}
	}
	&.btn-info{
		background-color:$success-color;
		border:none;
		&:hover{
			background-color:tint($success-color,20%);
		}
	}
	&.btn-circle{
		border-radius:100px;
	}
	&.btn-link{
		&.btn-filter{
			@include fontSize(13px);
			font-family: $medium-font-name;
			color:$text-color;
			padding:8px 8px;
			&:hover, &:focus{
				text-decoration: none;
				background-color:rgba(0,0,0,.05);
			}
		}
	}
	&.btn-sm{
		@include fontSize(13px);
	}
	&.disabled{
		background-color:tint($gray-color,50%);
	}
	&.btn-rounded{
		border-radius:100px;
	}
}

