.panel-default > .panel-heading + .panel-collapse > .panel-body{
	border-top-color:white;
}

.panel-group .panel + .panel{
	margin-top:-1px;
}

.panel-group{
	.panel{
		border-radius:0px;
	}
}
.panel{
	box-shadow:none;
	border:1px solid $border-color;
	border-radius:0px;
	&.panel-default{
		background:white;
	}
	.panel-heading{
		border-radius:0px;
		background:white;
		color:$text-color;
		i.collapse-chevron{
			position:relative;
			top:7px;
			right:15px;
			font-size: .7rem;
		}
		a.collapsed{
			i.collapse-chevron{
			    @include transform(rotate(180deg));
			}
		}
	}
	//panel sizes
	&.panel-sm{
		max-width:450px;
		margin:0 auto;
	}
}




//chips
	.chip {
	    display: inline-block;
	    padding: 10px 25px;
	    font-size: 16px;
	    line-height: 50px;
	    border-radius: 25px;
	    background-color: tint($text-color, 90%);
	}

//accordian specific styling
.acordian-default{
	.panel{
		.panel-heading{
			// padding:0;
			a{
				padding:$baseline/1.3;
			}
		}
		.panel-body{
			padding:$baseline/2 $baseline;
		}
	}
}


//team accordian 
#team-accordion{
	.collapse{
		display:block;
		height:0;
		overflow:hidden;
		&.in{
		height:auto;
		overflow:visible;
		}
	}

	.panel-collapse{
		&.in{
			.nurse-slider-wrapper{
				opacity: 1;
			}
		}
	}
}

